body{
    margin: 0 auto;
    height: 100%;
}
.container{
    display: flex;
    justify-content: center;
    height: 600px;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.container > div{
    width: 300px;
}
.result{
    border: 3px solid #ff7403;
}
#history-value, #output-value{
    text-align: right;
    font-size: 20px;
}

.container > div > .input-no{
    height: auto; 
    background: #362f2f;
}

.container > div .input-no button{
    color: #fff;
    background: none;
}

.container > div .input-no .operator{
    color: #ff7403;
    background: none;
}
.calc-keys{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
}
button{
    height: 10px;
    border: 0;
    font-size: 20px;
}

